@model FarmerCropMarketing.Models.Crops

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Crops</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Crops_name" class="control-label"></label>
                <input asp-for="Crops_name" class="form-control" />
                <span asp-validation-for="Crops_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crops_quantity" class="control-label"></label>
                <input asp-for="Crops_quantity" class="form-control" />
                <span asp-validation-for="Crops_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crops_price" class="control-label"></label>
                <input asp-for="Crops_price" class="form-control" />
                <span asp-validation-for="Crops_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crops_description" class="control-label"></label>
                <textarea asp-for="Crops_description" class="form-control"></textarea>
                <span asp-validation-for="Crops_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crops_image" class="control-label"></label>
                <input asp-for="Crops_image" class="form-control" />
                <span asp-validation-for="Crops_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Farmers_id" class="control-label"></label>
                <input asp-for="Farmers_id" class="form-control" />
                <span asp-validation-for="Farmers_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
